.u-center-text {
  text-align: center;
}

.u-margin-bottom {
  margin-bottom: 6rem;
}

@media only screen and (max-width: 56.5em) {
  .u-margin-bottom {
    margin-bottom: 2rem !important;
  }
}
.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-top-medium {
  margin-top: 3rem;
}

.u-margin-top-big {
  margin-top: 6rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.5em) {
  html {
    font-size: 50%;
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  overflow-x: hidden !important;
  padding: 2rem;
  font-family: sans-serif;
}
@media only screen and (max-width: 56.5em) {
  body {
    padding: 0;
    overflow-x: hidden;
  }
}

.feature-card__box {
  height: 100vh;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(16, 205, 16, 0.559), rgba(16, 207, 102, 0.872)), url("/img/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
@media only screen and (max-width: 56.5em) {
  .feature-card__box {
    height: 150vh;
    flex-direction: column;
    gap: 1.5rem;
    clip-path: polygon(0% 7%, 100% 0%, 100% 95%, 0% 100%);
  }
}
@media only screen and (max-width: 37.5em) {
  .feature-card__box {
    clip-path: polygon(0% 7%, 100% 0%, 100% 95%, 0% 100%);
  }
}

.feature-card {
  width: 22.5rem;
  background-color: rgb(248, 245, 245);
  transition: all 0.3s;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.231);
}
@media only screen and (max-width: 56.5em) {
  .feature-card {
    width: 80%;
  }
}
.feature-card:hover {
  transform: translateY(-1rem);
  scale: 1.03;
  box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.811);
}
.feature-card-icon {
  font-size: 6rem;
  background-image: linear-gradient(to right bottom, rgba(16, 205, 16, 0.559), rgb(10, 244, 80));
  background-clip: text;
  color: transparent;
  margin-top: 2rem;
}
.feature-card-content {
  text-align: center;
  color: rgb(66, 65, 65);
  font-size: 1.5rem;
  line-height: 1.6;
}
.feature-card-content-title {
  color: #545252;
  font-weight: 700;
  font-size: 1.6rem;
}

.card_section {
  background-color: rgb(217, 217, 216);
}

.card {
  background-color: rgb(217, 217, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  padding-top: 10rem;
  padding-bottom: 8rem;
  margin-top: -6rem;
}
@media only screen and (max-width: 37.5em) {
  .card {
    flex-direction: column;
    margin-top: -10rem;
    padding-top: 14rem;
  }
}
.card-side {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 37rem;
  width: 28rem;
  position: relative;
}
.card-side-front {
  height: 37rem;
  width: 28rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.card-side-front-bgc {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0rem 2.5rem 4rem rgba(0, 0, 0, 0.187);
  overflow: hidden;
}
.card-side-back {
  height: 37rem;
  width: 28rem;
  transform: rotateY(180deg);
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.card-side-back-bgc {
  border-radius: 3px;
  box-shadow: 0rem 2.5rem 4rem rgba(0, 0, 0, 0.187);
}
.card-side-back-bgc__1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card-side-back-bgc__2 {
  background-image: linear-gradient(to right bottom, rgb(0, 85, 255), rgba(34, 34, 218, 0.824));
}
.card-side-back-bgc__3 {
  background-image: linear-gradient(to right bottom, rgba(35, 99, 35, 0.845), rgb(0, 128, 68));
}
.card-side:hover .card-side-front {
  transform: rotateY(-180deg);
}
.card-side:hover .card-side-back {
  transform: rotateY(0);
}
.card-image {
  background-size: cover;
  height: 17rem;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card-image--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("/img/robert-lukeman-_RBcxo9AU-U-unsplash.jpg");
  background-blend-mode: hue;
}
.card-image--2 {
  background-image: linear-gradient(to right bottom, rgba(21, 85, 138, 0.934), rgb(24, 62, 165)), url("/img/sea explorer.jpg");
  background-blend-mode: overlay;
}
.card-image--3 {
  background-image: linear-gradient(to right bottom, rgb(7, 116, 36), rgb(13, 156, 82)), url("/img/forest hiker.jpg");
  background-blend-mode: overlay;
}
.card-heading {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  color: white;
  position: absolute;
  top: 9rem;
  right: 1.5rem;
}
.card-heading-span {
  padding: 5px 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card-heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.75), rgba(255, 119, 48, 0.75));
}
.card-heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(21, 85, 138, 0.372), rgba(5, 71, 250, 0.463));
}
.card-heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(7, 116, 36, 0.406), rgba(13, 156, 82, 0.479));
}
.card-details {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}
.card-details ul {
  list-style: none;
}
.card-details li {
  padding: 8px;
  text-align: center;
}
.card-details li:not(:last-child) {
  border-bottom: 0.8px solid #e1d6d6;
  border-radius: 2px;
}
.card__atc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}
.card__only {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: white;
}
.card__price {
  font-size: 4rem;
  color: white;
  margin-bottom: 6rem;
  font-weight: 100;
}
.card__book {
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 56.5em) {
  .card-side {
    height: 52rem;
    padding-bottom: 5rem;
    box-shadow: 0rem 2.5rem 4rem rgba(0, 0, 0, 0.187);
    background-color: #fff;
  }
}
@media only screen and (max-width: 56.5em) and (max-width: 56.5em) {
  .card-side {
    width: 42rem;
    border-radius: 3px;
  }
}
@media only screen and (max-width: 56.5em) and (max-width: 37.5em) {
  .card-side {
    width: 38rem;
  }
}
@media only screen and (max-width: 56.5em) {
  .card-side-front {
    height: 37rem;
    width: 28rem;
    position: relative;
    box-shadow: none;
  }
}
@media only screen and (max-width: 56.5em) and (max-width: 56.5em) {
  .card-side-front {
    width: 42rem;
  }
}
@media only screen and (max-width: 56.5em) and (max-width: 37.5em) {
  .card-side-front {
    width: 38rem;
  }
}
@media only screen and (max-width: 56.5em) {
  .card-side-front-bgc {
    background-color: white;
    border-radius: 3px;
  }
  .card-side-back {
    height: 15rem;
    transform: rotateY(0);
    position: relative;
    padding-bottom: 5rem;
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@media only screen and (max-width: 56.5em) and (max-width: 56.5em) {
  .card-side-back {
    width: 42rem;
  }
}
@media only screen and (max-width: 56.5em) and (max-width: 37.5em) {
  .card-side-back {
    width: 38rem;
  }
}
@media only screen and (max-width: 56.5em) {
  .card-side-back-bgc {
    box-shadow: none;
  }
  .card-side:hover .card-side-front {
    transform: rotateY(0deg);
  }
  .card-heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
    color: white;
    position: absolute;
    top: 12rem;
    right: 1rem;
  }
  .card-details li {
    font-size: 1.6rem;
  }
  .card__only {
    font-size: 2rem;
  }
  .card__price {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
}

.btn {
  padding: 1.5rem 2.5rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-family: sans-serif;
  display: inline-block;
  text-transform: uppercase;
}

.green__btn, .green__btn:link, .green__btn:visited {
  background-color: #28b485;
  margin-bottom: 3rem;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: none;
}
.green__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.green__btn:active, .green__btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.224);
}
.green__btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #28b485;
  transition: all 0.4s;
}
.green__btn:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}

.btn-white {
  background-color: white;
  color: black;
  font-size: 2.5rem;
  font-weight: 100;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}
.btn-white:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-white:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.224);
}
.btn-white::after {
  content: "";
  display: table;
  height: 5.86rem;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: white;
  transition: all 0.4s;
}
@media only screen and (max-width: 56.5em) {
  .btn-white::after {
    content: "";
    display: table;
    height: 5.61rem;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: white;
    transition: all 0.4s;
  }
}
.btn-white:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}

.btn-secondary:link,
.btn-secondary:visited {
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.4rem;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  transition: all 0.3s;
}
.btn-secondary:link:hover,
.btn-secondary:visited:hover {
  background-color: #55c57a;
  color: white;
  border-radius: 3px;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}
.popup__content {
  width: 75%;
  background-color: #fff;
  object-position: center;
  box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.208);
  border-radius: 3px;
  display: flex;
  justify-content: none;
  align-items: none;
  position: relative;
  opacity: 0;
  transform: scale(0.25);
  transition: all 0.5s 0.2s;
}
@media only screen and (max-width: 56.5em) {
  .popup__content {
    flex-direction: column;
    width: 90%;
  }
}
.popup__left {
  height: 100%;
  width: 33.3%;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: column;
}
@media only screen and (max-width: 56.5em) {
  .popup__left {
    flex-direction: row;
    width: 100%;
  }
}
.popup__left img {
  height: 50%;
  width: 100%;
}
@media only screen and (max-width: 56.5em) {
  .popup__left img {
    height: 80%;
  }
}
.popup__right {
  width: 75%;
  padding: 7rem 3rem;
}
@media only screen and (max-width: 56.5em) {
  .popup__right {
    padding: 3rem 1rem;
    width: 100%;
  }
}
.popup__right_heading {
  font-family: sans-serif !important;
  font-weight: 600 !important;
  font-size: 3rem !important;
  margin-bottom: 1rem;
}
.popup__right_heading:hover {
  transform: skew(0) !important;
}
.popup__right_tertiary {
  font-size: 1.5rem !important;
}
.popup__right__content {
  font-size: 1.5rem;
  column-count: 2;
  column-gap: 2rem;
  column-rule: 1px solid rgba(119, 119, 119, 0.231372549);
  line-height: 2.1rem;
  color: #777;
  hyphens: auto;
}
@media only screen and (max-width: 56.5em) {
  .popup__right__content {
    column-gap: 1rem;
    line-height: 1.9rem;
    padding-right: 6px;
  }
}
.popup__right__btn {
  position: relative;
  cursor: pointer;
  margin-top: 2rem;
}
.popup__right__btn::after {
  background-color: #28b485;
}
.popup__close:link, .popup__close:visited {
  text-decoration: none;
  font-size: 3rem;
  color: #a2a2a2;
  position: absolute;
  right: 1.4rem;
  top: 0.7rem;
}
@media only screen and (max-width: 56.5em) {
  .popup__close:link, .popup__close:visited {
    color: orangered;
  }
}
.popup__close:link:hover, .popup__close:visited:hover {
  color: #28b485;
}
.popup.visible {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: scale(1);
}

.heading_secondary {
  display: inline-block;
  font-size: 3.5rem;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  text-transform: uppercase;
  background-clip: text;
  letter-spacing: 2px;
  font-weight: 700;
  color: transparent;
  transition: all 0.2s;
  background-color: transparent;
}
@media only screen and (max-width: 56.5em) {
  .heading_secondary {
    font-size: 2rem;
  }
}
.heading_secondary:hover {
  transform: skewY(2deg) skewX(4deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 2rem;
  color: #777;
  margin-bottom: 2.8rem;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
}
@media only screen and (max-width: 56.5em) {
  .heading-tertiary {
    font-size: 1.4rem;
  }
}

.pargarap {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #777;
  margin-bottom: 2rem;
}

.bg-video {
  position: absolute;
  opacity: 0.25;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(20, 81, 196, 0.459), rgba(0, 170, 255, 0.482)), url("/img/willian-justen-de-vasconcellos-T_Qe4QlMIvQ-unsplash.jpg");
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  background-size: cover;
  background-position: top;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .header {
    height: 70vh;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    background-image: linear-gradient(to right bottom, rgba(20, 81, 196, 0.459), rgba(0, 170, 255, 0.482)), url("/img/heade-small.jpg");
  }
}
.header__title {
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__title_prime {
  font-size: 5.2rem;
  color: white;
  letter-spacing: 2.1rem;
  font-family: sans-serif;
  font-weight: 200;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .header__title_prime {
    font-size: 3.6rem;
    letter-spacing: 1rem;
  }
}
.header__title_second {
  color: white;
  font-family: sans-serif;
  letter-spacing: 1rem;
  position: absolute;
  left: 6px;
}
@media only screen and (max-width: 37.5em) {
  .header__title_second {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
  }
}
.header__btn-box {
  text-align: center;
  transform: translate(0%, 35rem);
}
@media only screen and (max-width: 56.5em) {
  .header__btn-box {
    transform: translate(0%, 55rem);
  }
}
@media only screen and (max-width: 37.5em) {
  .header__btn-box {
    transform: translate(0%, 45rem);
  }
}
.header__btn, .header__btn:link, .header__btn:visited {
  position: relative;
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.header__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.411);
}
.header__btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.411);
}
.header__btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s;
}
.header__btn:hover::after {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}

.tour_btn {
  color: #777;
  background-color: white;
}
.tour_btn::after {
  background-color: #fff;
}

.header__nav {
  padding-top: 3rem;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-about {
  height: 95vh;
  background-color: #f7f7f7;
  padding-top: 18rem;
  margin-top: -12rem;
}
@media only screen and (max-width: 56.5em) {
  .section-about {
    height: 80vh;
    padding-top: 14rem;
  }
}

.section__info {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-left: 5.2rem;
}
@media only screen and (max-width: 75em) {
  .section__info {
    flex-direction: column;
    justify-content: none;
    align-items: none;
    padding-left: 1.5rem;
    gap: 1rem;
  }
}

.section__content {
  width: 48%;
  height: 100%;
}
@media only screen and (max-width: 75em) {
  .section__content {
    width: 100%;
    padding: 2rem;
  }
}

.section-img {
  height: 20rem;
  width: 28rem;
  position: absolute;
  background-position: center;
  object-fit: cover;
  box-sizing: border-box;
  transition: all 0.3s;
}
@media only screen and (max-width: 37.5em) {
  .section-img {
    height: 15rem;
    width: 20rem;
  }
}

.section__image {
  width: 48%;
  height: 100%;
  position: relative;
}
.section__image > * {
  transition: all 0.3s;
  backface-visibility: hidden;
  padding: 1rem;
  border-radius: 3.2rem;
}
@media only screen and (max-width: 75em) {
  .section__image > * {
    border-radius: 5px;
    box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.434);
    padding: 0;
  }
}
.section__image > *:hover {
  border: 1rem solid #28b485;
  z-index: 11;
  transform: scale(1.2);
}
@media only screen and (max-width: 75em) {
  .section__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .section__image {
    width: 100%;
    box-sizing: border-box;
    margin-right: 11rem;
  }
}
.section__image--1 {
  top: 0;
  left: 0;
}
@media only screen and (max-width: 75em) {
  .section__image--1 {
    left: 35%;
    top: -5%;
    z-index: 10;
  }
}
.section__image--2 {
  top: 11%;
  left: 34%;
}
@media only screen and (max-width: 75em) {
  .section__image--2 {
    top: 0%;
    left: 15%;
  }
}
.section__image--3 {
  bottom: 19%;
  left: 10%;
}
@media only screen and (max-width: 75em) {
  .section__image--3 {
    top: 0;
    left: 55%;
  }
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  height: 7rem;
  width: 7rem;
  background-color: #fff;
  border-radius: 50%;
  top: 6rem;
  right: 6rem;
  position: fixed;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 56.5em) {
  .navigation__button {
    height: 5rem;
    width: 5rem;
    top: 2rem;
    right: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    right: 4rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  z-index: 1000;
  top: 6.5rem;
  right: 6.5rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 56.5em) {
  .navigation__background {
    height: 4rem;
    width: 4rem;
    top: 2.5rem;
    right: 2.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    right: 4.5rem;
  }
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
@media only screen and (max-width: 56.5em) {
  .navigation__nav {
    transition: all 0.2s;
  }
}
.navigation__list {
  list-style: none;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all 0.5s;
}
.navigation__link span {
  margin-right: 1.5rem;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible;
}
.navigation__icon {
  position: relative;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  height: 2px;
  width: 3rem;
  background-color: #333;
  display: inline-block;
  transition: all 0.2s;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
}
.navigation__icon::before {
  top: -9px;
}
.navigation__icon::after {
  top: 9px;
}
.navigation__button:hover .navigation__icon::before {
  top: -11px;
}
.navigation__button:hover .navigation__icon::after {
  top: 11px;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(135deg);
  top: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(-135deg);
  top: 0;
}

.story__section {
  position: relative;
}

.story {
  padding: 6rem 0;
}
.story__box {
  background-color: #fff;
  width: 65%;
  margin: 7rem auto;
  padding: 4rem 5rem 3rem 2rem;
  opacity: 0.8;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.story__box--1 {
  transform: skewX(-12deg);
}
.story__box--2 {
  transform: translateX(3rem) skewX(-12deg);
}
@media only screen and (max-width: 56.5em) {
  .story__box {
    transform: skewX(0) !important;
    margin: 4rem auto;
    padding: 1.5rem 2rem 1.5rem 2rem;
    width: 80%;
  }
}
.story__box__shape {
  height: 15rem;
  width: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  object-fit: revert;
  position: relative;
}
.story__box__shape--1 {
  transform: skewX(12deg);
}
.story__box__shape--2 {
  transform: skewX(12deg);
}
@media only screen and (max-width: 56.5em) {
  .story__box__shape {
    transform: skewX(0) !important;
    margin-right: 2rem;
  }
}
.story__box__shape__img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: 117% 50%;
  transform: scale(1.8);
  top: 4.9rem;
  transition: all 0.4s;
}
.story__box__content--1 {
  transform: translateX(3rem) skewX(12deg);
}
.story__box__content--2 {
  transform: translateX(3rem) skewX(12deg);
}
@media only screen and (max-width: 56.5em) {
  .story__box__content {
    transform: skewX(0) !important;
  }
}
.story__box:hover .story__box__shape__img {
  filter: blur(3px) brightness(80%);
  transform: scale(1.6);
  z-index: 2;
}
.story__box:hover .name {
  opacity: 1;
  transform: translateY(0);
}

.name {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.6;
  color: rgb(232, 232, 232);
  position: absolute;
  top: 33%;
  text-align: center;
  opacity: 0;
  transform: translateY(6rem);
  z-index: 10;
  transition: all 0.4s;
}

.img2 {
  object-fit: cover;
  width: 100%;
  object-position: 68% 50%;
  transform: scale(1.8);
  top: -4.1rem;
}

.btn-secondary-box {
  text-align: center;
}

.section-book {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #55c57a, #28b485);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 56.5em) {
  .section-book {
    padding: 3rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.861) 0%, rgba(255, 255, 255, 0.861) 50%, transparent 50%), url("/img/book-img.jpg");
  width: 80%;
  background-size: cover;
  border-radius: 3px;
  padding: 6rem;
  box-sizing: border-box;
}
@media only screen and (max-width: 56.5em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.861) 0%, rgba(255, 255, 255, 0.747) 100%, transparent 50%), url("/img/book-img.jpg");
    padding: 3rem;
    width: 90%;
    text-align: center;
  }
}

.form {
  width: 50%;
}
@media only screen and (max-width: 56.5em) {
  .form {
    width: 100%;
  }
}
.form-group:not(:last-child) {
  margin-bottom: 2rem;
  font-family: sans-serif;
}
@media only screen and (max-width: 56.5em) {
  .form-group:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.form__input {
  width: 70%;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.5);
  border: 3px solid transparent;
  display: block;
  color: #171717;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.5em) {
  .form__input {
    width: 90%;
  }
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #28b485;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s ease;
}
.form__input:placeholder-shown + .form__label {
  transform: translateY(-4rem);
  opacity: 0;
  visibility: hidden;
}
.form__radio {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 10rem;
  font-size: 1.7rem;
  font-family: sans-serif;
  color: #333;
  transform: translate(4.4rem, 3rem);
}
@media only screen and (max-width: 56.5em) {
  .form__radio {
    flex-direction: column;
    gap: 2rem;
  }
}
.form__radio__input {
  display: none;
}
.form__radio__label {
  position: relative;
  cursor: pointer;
}
@media only screen and (max-width: 56.5em) {
  .form__radio__label {
    display: flex;
  }
}
.form__radio__button {
  height: 2.2rem;
  width: 2.2rem;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid #28b485;
  margin-right: 1.5rem;
  display: inline-block;
  position: absolute;
  left: -4.5rem;
  top: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}
.form__radio__button::after {
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  background-color: #28b485;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
}
.form__radio__input:checked + .form__radio__label .form__radio__button::after {
  opacity: 1;
}
.form__button {
  margin-left: 0;
  margin-top: 8rem;
}

.footer {
  background-color: #333;
  text-align: center;
}
.footer__logo-box {
  text-align: center;
  padding: 5rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}
.footer__logo-box img {
  height: 10rem;
}
.footer__logo-box-name {
  margin-top: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .footer__logo-box {
    margin-bottom: 2rem;
  }
}
.footer__navigation__list {
  display: flex;
  justify-content: none;
  align-items: none;
  list-style: none;
  gap: 1.3rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .footer__navigation__list {
    gap: 1rem;
    font-size: 1.4rem;
  }
}
.footer__navigation__item {
  transition: all 0.2s;
}
.footer__navigation__item:hover {
  background-color: #333;
  box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.8);
  padding: 0.2rem 0;
  transform: skewY(3deg) skewX(-2deg) scale(1.2);
  color: #55c57a;
}
.footer__content-box {
  display: flex;
  justify-content: center;
  align-items: none;
  padding-bottom: 8rem;
  gap: 10rem;
}
@media only screen and (max-width: 56.5em) {
  .footer__content-box {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
}
.footer__content {
  font-size: 1.4rem;
  width: 38%;
}
.footer__boxes {
  padding-top: 1.3rem;
  border-top: 1px solid #777;
  color: rgb(216, 216, 216);
}
@media only screen and (max-width: 56.5em) {
  .footer__boxes {
    width: 62%;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__boxes {
    width: 92%;
  }
}

/*# sourceMappingURL=style.css.map */
